
@media (max-width: 1023px) {
div {
display: flex;
flex-direction: column;
justify-content: flex-start;
}
form{
display: flex;
flex-direction: column;
justify-content: space-around;
}
textarea {
outline:none;
}




}
@media (min-width: 1024px) {
  /* CSS rules specific to laptops */

.mainSection {
  display: grid;
  place-items: center;
  height: 100vh;
}

.navbar {
  padding: 0 5px;
}
form{
display: flex;
flex-direction: column;
justify-content: space-between;
}
*.icon-dark {
  color: pink;
}

.message {
  position: absolute;
  top: 40px;
  right:5px;
}

.search {
  position: relative;
}

.search input {
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 1px solid grey;
}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 10px;
}

.search button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  background: grey;
}

textarea {
outline:none;
resize: none;
}



  /* Add more styles for laptops here */
}