<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>KurdAll</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>

<body>
<div th:replace="~{fragments/navbar :: header}"></div>

<div class="mainSection">
    <h1>Translation</h1>
    <button onclick="toggleReadOnly()" id="translationButton" >English to Kurdish</button>
    <form action="/translate" method="POST">
        <p><label for="userinput">English to Kurdish Sorani:</label></p>
        <textarea id="userinput" name="userinput" rows="4" cols="50" th:text="${textArea1}"></textarea>
        <input type="hidden" id="translationFrom" name="translationFrom" value="en">
        <input type="hidden" id="translationTo" name="translationTo" value="ckb">
        <br>
        <input type="submit" value="Submit">
        <p><label for="translation">English to Kurdish Sorani:</label></p>
        <textarea id="translation" name="translation" readonly th:text="${textArea2}"></textarea>
    </form>

    <p>Please note the above is powered by Google Translation api</p>

</div>
</body>
</html>